@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}
<div class="auth-wrapper pt-4">
    <div class="text-center"><img class="mb-4 mx-auto" src="~/Images/LoginIcon.svg" alt="" width="72" height="57"></div>
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
    <form class="form-signin" asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input asp-for="UserName" class="form-control input-sm" placeholder="Username..." />
            <label asp-for="UserName" class="form-label text-dark font-weight-bold"></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" class="form-control input-sm" placeholder="Password..." />
            <label asp-for="Password" class="form-label text-dark font-weight-bold"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
        <p class="text-center font-weight-bold pt-2"> Click <a asp-controller="Account" asp-action="SignUp">here</a> to Sign Up</p>
    </form>
</div>
